@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
body {
  font-family: "Hubballi";
  font-size: large;
}
ul {
  border-style: dotted;
  border-width: 1px;
}
input {
  font-family: "Hubballi";
  font-size: large;
  height: 30px;
  width: 300px;
  border-style: dotted;
}
button {
  font-family: "Hubballi";
  font-size: large;
  height: 35px;
  width: 300px;
  border-style: dotted;
}
button:hover {
  cursor: pointer;
}
ul:hover {
  cursor: pointer;
}
